<!doctype html>
   <html>
     <head>
        <meta charset="UTF-8">
        <title>Welcome to Nginx {{ NAME }}!</title>
     </head>
     <body>
       <h2>{{ NAME }}</h2>
       <p>Welcome to Nginx configured through Ansible 👋. <strong>Configure it as you want !</strong></p>
       <p>Configure the application as app.local through Ansible</p>
     </body>
   </html>
